body, html{
  height:100%;

}
body{
  margin: 0px;
  font-size: 18px;
  position: relative;
  background: linear-gradient(45deg, #ee7752, #e73c7e, #cc66d2, #c2be46);
  background-size: 300% 300%;
  animation: gradient 3s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}



body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUpBotton, .disperseButton {
  padding:5px 12px;
  float:right;
}
.topbar{
  height:64px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
  /* animation: example3 .75s infinite */
}

/* @keyframes example3{
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(4);
  }
  100% {
    transform: scale(0);
  }
} */

.rotate{
  position: absolute;
  animation: example2 .75s infinite;
}

@keyframes example2{
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}



.square{
  animation: example .75s infinite;
  position: absolute;
}

@keyframes example{
    0% {
      transform: translateX(0) ;
    }
    50% {
      transform: translateX(50px) ;
    }
    100% {
      transform: translateX(0);
    }
}



